<form action="/users/<%= @user.id %>/destroy" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Account">
</form>
<h1>Edit User</h1>
<% if alert %>
	<% alert.each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>
<form action="/users/<%= @user.id%>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="patch">
	<p>Email: <input type="text" name="email" value="<%= @user.email%>"></p>
	<p>Name: <input type="text" name="name" value="<%= @user.name%>"></p>
	<p><input type="submit" value="Update"></p>
</form>
