<p><a href="/users/<%= @user.id%>/edit">Edit Profile</a> | 
		<!-- <a href="/secrets">Secrets Wall</a> -->
</p>
<h1><%= @user.name %></h1>
<% if alert %>
	<% alert.each do |message| %>
		<p><%= message %></p>
	<% end %>
<% end %>
<h3>New Secret</h3>
<form action="/secrets/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p><textarea name="content"></textarea></p>
	<p><input type="submit" value="Create Secret"></p>
</form>
<div>
	<h3>Secrets</h3>
	<table>
	<% @secrets.each do |secret| %>
		<tr>
			<td>
				<%= secret.content %>
			</td>
			<td>
				<form action="/secrets/<%= secret.id %>/destroy" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	<% end %>
	</table>
</div>