<div class="row">
	<div class="col-xs-12">
		<ul class="nav custom-pills">
		  <li role="presentation"><a class="accent-color-text inactive-nav-btn-left" href="/secrets"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
		  <li role="presentation"><a class="white-text active-nav-btn-middle" href="/users/<%= @user.id%>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
		  <li role="presentation"><a class="accent-color-text inactive-nav-btn-right" href="/users/<%= @user.id%>/edit" name='Edit Profile' id="Edit Profile"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Profile</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h1 class="primary-color-text extra-margin-bottom"><%= @user.name %></h1>
	</div>
</div>
<% if alert %>
<div class="row">
	<div class="col-md-8">
		<% alert.each do |message| %>
			<p><%= message %></p>
		<% end %>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-12">
		<form action="/secrets/create" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group">
				<textarea name="content" required placeholder="Write a confession..." class="form-control" rows='5'></textarea>
			</div>
			<button type="submit" class="btn accent-color white-text btn-hover">Post Confession</button>
		</form>
	<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3 class="primary-color-text">My Confessions</h3>
		<% @secrets.each do |secret| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8">
						<p><%= secret.content %></p>
					</div>
					<div class="col-xs-3"></div>
					<div class="col-xs-1 delete-div">
						<form action="/secrets/<%= secret.id %>/destroy" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="delete">
							<button type="submit" class="btn accent-color white-text btn-hover btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<% if secret.likes.count == 1 %>
							<p class='likes-count accent-color-text'><%= secret.likes.count %> like</p>
						<% end %>
						<% if secret.likes.count != 1 %>
							<p class='likes-count accent-color-text'><%= secret.likes.count %> likes</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-md-6">
		<h3 class="primary-color-text">Liked Confessions</h3>
		<% @secrets_liked.each do |secret| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<p><%= secret.content %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<% if secret.likes.count == 1 %>
							<p class='likes-count accent-color-text'><%= secret.likes.count %> like</p>
						<% end %>
						<% if secret.likes.count != 1 %>
							<p class='likes-count accent-color-text'><%= secret.likes.count %> likes</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
