<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation"><a class="white-text active-nav-btn" href="/secrets">All Secrets</a></li>
		  <li role="presentation"><a class="primary-color-light-text inactive-nav-btn" href="/users/<%= @user.id%>">Profile</a></li>
		  <li role="presentation"><a class="primary-color-light-text inactive-nav-btn" href="/users/<%= @user.id%>/edit" name='Edit Profile' id="Edit Profile">Edit Profile</a></li>
		</ul>
	</div>
</div>
<h1 class="primary-color-text">Secrets</h1>
<table>
	<% @secrets.each do |secret| %>
	<tr>
		<td>
			<p><%= secret.content %></p>
			<p> 
			<form action="/likes/<%= secret.id %>" method="post">
			<% if secret.likes.count == 1 %>
					<p class='likes-count'><%= secret.likes.count %> like</p>
			<% end %>
			<% if secret.likes.count != 1 %>
					<p class='likes-count'><%= secret.likes.count %> likes</p>
			<% end %>
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<% if @secrets_liked.include?(secret) %>
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Unlike">
				<% else %>
				<input type="submit" value="Like">
				<% end %>
			</form>
			</p>
		</td>
		<td>
		<% if current_user == secret.user %>
			<form action="/secrets/<%= secret.id %>/destroy" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
		<% end %>
		</td>
	</tr>
	<% end %>
</table>
