<div class="row">
	<div class="col-md-12">
		<ul class="nav custom-pills">
		  <li role="presentation"><a class="white-text active-nav-btn-left" href="/secrets"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
		  <li role="presentation"><a class="accent-color-text inactive-nav-btn-middle" href="/users/<%= @user.id%>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
		  <li role="presentation"><a class="accent-color-text inactive-nav-btn-right" href="/users/<%= @user.id%>/edit" name='Edit Profile' id="Edit Profile"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Profile</a></li>
		</ul>
	</div>
</div>
<h1 class="primary-color-text extra-margin-bottom">Confessions</h1>

<div class="row">	
	<div class="col-xs-12">
	<% @secrets.each do |secret| %>
			<div class="panel panel-default col-xs-12 col-md-12">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8">
						<p><%= secret.content %></p>
					</div>
					<div class="col-xs-3"></div>
					<div class="col-xs-1 delete-div">
						<form action="/secrets/<%= secret.id %>/destroy" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="delete">
							<button type="submit" class="btn accent-color white-text btn-hover btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p> 
						<form action="/likes/<%= secret.id %>" method="post">
						<% if secret.likes.count == 1 %>
								<p class='likes-count accent-color-text'><%= secret.likes.count %> like</p>
						<% end %>
						<% if secret.likes.count != 1 %>
								<p class='likes-count accent-color-text'><%= secret.likes.count %> likes</p>
						<% end %>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<% if @secrets_liked.include?(secret) %>
							<input type="hidden" name="_method" value="delete">
							<button type="submit" class="btn accent-color white-text btn-hover btn-xs"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Unlike</button>
							<% else %>
							<button type="submit" class="btn accent-color white-text btn-hover btn-xs"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
							<% end %>
						</form>
						</p>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>
